---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";

const education = [
  {
    type: "degree",
    title: "Bachelor of Science in Computer Science",
    institution: "Inter American University of Puerto Rico",
    startDate: "Aug 2020",
    endDate: "May 2024",
    achivements: [],
  },
  {
    type: "certification",
    title: "Google Cybersecurity Professional Certificate",
    institution: "Coursera - Google",
    endDate: "Aug 2024",
    description:
      "Experienced in Linux, SIEM tools, and IDS, with a strong ability to identify and mitigate cybersecurity risks, threats, and vulnerabilities.",
    achivements: [],
  },
];

const skills = [
  {
    category: "Programming Languages",
    technologies: ["Java", "Python", "Typescript"],
  },
  {
    category: "Front-End",
    technologies: ["HTML", "CSS", "React", "Astro", "Tailwind"],
  },
  {
    category: "Back-End",
    technologies: ["Flask", "Spring Boot"],
  },
  {
    category: "Mobile",
    technologies: ["Android SDK", "Compose", "Kotlin"],
  },
  {
    category: "Databases",
    technologies: ["MySQL", "SQL Server", "Firebase"],
  },
  {
    category: "Tools",
    technologies: ["Git", "Github"],
  },
];
---

<BaseLayout title="About | Oscar Romero" description="About Oscar Romero">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I'm Oscar Romero Barbosa, a software developer from Puerto Rico with
            a strong background in Computer Science and experience in web and
            backend development. I specialize in technologies like Spring Boot
            and React, and I work with databases such as MySQL, Firebase, and MS
            SQL Server. Currently, I'm expanding my skills in mobile
            development. I'm passionate about building efficient and scalable
            solutions and always looking for new challenges to keep growing
            professionally. Fun fact: I'm also interested in cybersecurity and
            enjoy exploring ways to enhance application security.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="education-grid">
          {
            education.map((education) => (
              <div class="education-card">
                <div class="education-card-content">
                  <h3>{education.title}</h3>
                  <p>{education.institution}</p>
                  <div>
                    <span>
                      {education.startDate
                        ? `Completed: ${education.startDate} - ${education.endDate}`
                        : `Completed: ${education.endDate}`}
                    </span>
                  </div>
                  <p>{education.description}</p>
                  {education.achivements.length > 0 && (
                    <div>
                      <h4>Key Achievements:</h4>
                      <ul>
                        {education.achivements.map((achievement) => (
                          <li>{achievement}</li>
                        ))}
                      </ul>
                    </div>
                  )}
                </div>
              </div>
            ))
          }
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="skills-grid">
          {
            skills.map((skill) => (
              <div
                class={`skill-card ${skill.category === "Frontend" ? "two-columns" : ""}`}
              >
                <h3>{skill.category}</h3>
                <ul>
                  {skill.technologies.map((tech) => (
                    <li>{tech}</li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  .skills-grid,
  .education-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .skill-card,
  .education-card {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.4rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skill-card h3 {
    font-size: var(--text-lg);
    margin-bottom: 0.75rem;
    color: var(--gray-200);
  }

  .skill-card ul {
    list-style: none;
    padding: 0;
  }

  .skill-card li {
    font-size: var(--text-md);
    color: var(--gray-200);
  }

  .two-columns ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .education-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--gray-200);
  }

  .education-card p {
    font-size: 0.875rem;
    color: var(--gray-200);
    margin-bottom: 1rem;
  }

  .education-card div span {
    font-size: 0.875rem;
    color: var(--gray-500);
  }

  .education-card h4 {
    font-size: 0.875rem; /* text-sm */
    font-weight: 600; /* font-semibold */
    color: var(--gray-0);
    margin-bottom: 0.5rem;
  }

  .education-card ul {
    list-style-type: disc;
    padding-left: 1rem;
  }

  .education-card li {
    font-size: 0.875rem;
    color: var(--gray-200);
    margin-bottom: 0.25rem;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }

    .skills-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }

    .education-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }
</style>
